html, body {
    margin: 0 2%;
    padding: 0;
}

.badge {
    background-color: #EEEEEE;
    border-radius: 5px;
}

h1 {
    font-size: 34px;
}

.error-field {
    margin: 10px 0;
}

.text-center { text-align: center; }