<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>

    <h3>Everyone needs to have a blog</h3>
    <p>Alright so basically, I am creating a simple e-commerce website, after being fascinated
        with what Shopify is able to do. Nothing to complicated; to make my life more miserable. I
        decided to use jQuery to do all the dynamic stuffs (please kill me now).</p>
    <img src="https://i.giphy.com/media/3owzW5c1tPq63MPmWk/giphy.webp" alt="calc animation">
</body>
</html>